@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jacquard+12&family=Jersey+10&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Background y Container position */
.background-image {
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  position: absolute;
  background: url(../images/bg-stars.jpg) no-repeat left center / cover;
}

.container {
  margin: 0;
  padding: 0;
  pointer-events: none;
  white-space: normal;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 9;
  font-size: 45px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  opacity: 85%;
}

/* Photo Card Section */

#photo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a87fda;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 20px;
    padding-bottom: 10%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

#profile-pic{
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 70%;
    margin-bottom: 15px;
}

#photo-card p {
    display: flex;
    margin-top: -20px;
}

footer{
    position: absolute;
    bottom: 0;
}

footer p{
    font-size: 24px;
    transform: translate(0%, 50%);
}

#main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7954aa;
    border-radius: 35px;
    margin-left: -30px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    /* scrolling test */
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust the height as needed */
}

#main-section h1, #main-section h2 {
    margin: auto;
    font-size: 72px;
}

#main-section h2 {
    margin-top: -30%;
    font-size: 42px;
}

#main-section p {
    margin: auto;
    font-size: 26px;
}
 #main-section table, #main-section ul{
    pointer-events: visible;
}

/* Carrusel */
#carouselExampleCaptions{
    pointer-events: auto;
}
#carouselExampleCaptions h5, #carouselExampleCaptions p{
    font-size: 32px;
    color: #fff;
  text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: #bf95f2;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #bf95f2;
  }

#navbar{
    background-color: transparent;
    height: 100%;
    pointer-events: none;
    font-size: 24px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#navbar a{
    pointer-events: auto;
    background-color: #a87fda;
    margin-bottom: 15px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#navbar a:hover{
    transform: scale(1.1);
}